In [ ]:
import pandas as pd
import pyodbc
import os

In [8]:

revshare = pd.read_csv(r"C:\Users\dhernandez\OneDrive - Standards IT\Documents\GitHub\gdp-dashboard\data\RevShareNewLogic.csv")
TETypeI= pd.read_csv(r"C:\Users\dhernandez\OneDrive - Standards IT\Documents\GitHub\gdp-dashboard\data\vwTimeEntriesType1.csv")
TETypeII= pd.read_csv(r"C:\Users\dhernandez\OneDrive - Standards IT\Documents\GitHub\gdp-dashboard\data\vwTimeEntriesType2.csv")
TETypeIII= pd.read_csv(r"C:\Users\dhernandez\OneDrive - Standards IT\Documents\GitHub\gdp-dashboard\data\vwTimeEntriesType3.csv")

In [11]:
revshare

,RevShareYear,RevShareMonth,RevShareDate,Staff,TotalRevShareMonth,RevTier1,RevTier2,RevTier3,RevTierTotal,OriginationFees,RevShareTotal
0,2025,1,2025-01-31,AEZ,6580.0,0.0,0.0,0.0,0.0,921.91,921.91
1,2025,2,2025-02-28,AEZ,2924.2,0.0,0.0,0.0,0.0,587.28,587.28
2,2025,3,2025-03-31,AEZ,10029.0,0.0,0.0,0.0,0.0,1494.50,1494.50
3,2025,4,2025-04-30,AEZ,2900.0,0.0,0.0,0.0,0.0,12.00,12.00
4,2024,9,2024-09-30,AEZ,13486.0,0.0,0.0,0.0,0.0,479.80,479.80
...,...,...,...,...,...,...,...,...,...,...,...
85,2025,4,2025-04-30,WMJ,4355.0,0.0,0.0,0.0,0.0,911.38,911.38
86,2024,9,2024-09-30,WMJ,34450.0,400.0,600.0,6580.0,7580.0,6676.65,14256.65
87,2024,10,2024-10-31,WMJ,10790.0,0.0,0.0,0.0,0.0,2864.50,2864.50
88,2024,11,2024-11-30,WMJ,7150.0,0.0,0.0,0.0,0.0,1773.63,1773.63
89,2024,12,2024-12-31,WMJ,11082.5,0.0,0.0,0.0,0.0,2453.70,2453.70

In [10]:
Matters=pd.read_csv('data/vMatters.csv')
BillableHours = pd.read_csv('data/vBillableHoursStaff.csv')
Revenue=pd.read_csv('data/RevShareNewLogic.csv')

In [9]:
BillableHours

,BillableHoursAmount,StaffAbbreviation,BillableHoursDate,MatterName
0,0.1,AEZ,2022-09-23,"Dulaney's, Inc. - Corporate 10204.001"
1,1.3,TRB,2020-08-04,DeatschWerks LLC - Master Production and Suppl...
2,0.4,ERH,2020-01-08,WDCO Midtown LLC - Cognizant Lease Amendment 1...
3,0.5,ERH,2021-02-26,Sunshine City LLC - General 10137.000
4,0.2,BPL,2021-10-06,Delaware County Rural Water District 12 - Gene...
...,...,...,...,...
40876,1.0,ERH,2022-03-28,ThreeYetMany LLC - Company Formation 10712.001
40877,2.0,JER,2024-05-14,"The Children's Center, Inc. - General 10397.000"
40878,2.0,JRJ,2022-03-14,Allparts Music Corp. dba Walrus Audio - AUDIO ...
40879,0.7,BPL,2024-05-02,"Rejuvenation by VQC, Inc. - General 11104.000"
40880,0.1,AEZ,2021-10-11,"UHS of Delaware, Inc. - Jesica Sanders 10009.001"

In [8]:
Matters

,MatterID,MatterClientID,MatterTypeID,MatterName,MatterCreationDate,orig_staff1,orig_staff2,orig_staff3
0,1~A0044ADAC6770558,1~CC82DADAC5123133,3,Dr. Sallie Pollack and Peter Pollack - General...,2021-08-27,AEZ,NaN,NaN
1,1~A0064B0C1E9CE948,1~C8203B0C0D10A461,3,Innersource Energy - Lease - Western Oil & Gas...,2023-10-25,WMJ,NaN,NaN
2,1~A0073ACDAE182814,1~C052BAB139DA1522,3,LaurThom Inc. - FLSA Audit 10128.001,2021-01-29,AEZ,NaN,NaN
3,1~A007BB07BA9EB138,1~CD36BB07BE130991,3,Two Parkway North Hotel Investment LLC - Gener...,2023-08-16,RAW,NaN,NaN
4,1~A00B4AE7302E7871,1~CE15AAE73D074230,3,"Broome, Joe - General 10702.000",2022-03-14,JER,NaN,NaN
...,...,...,...,...,...,...,...,...
1996,1~AFF27AE570762711,1~C8314AE572419238,1,MHT Consulting LLC - Company Formation 10683.001,2022-02-14,TRB,NaN,NaN
1997,1~AFF2FB1CAC147651,1~CF485AE7520DA390,1,Dobson Fiber - Think GIG Expense 10705.006,2024-07-16,JRJ,NaN,NaN
1998,1~AFF30B27116BF525,1~C1779AAF462F4584,3,FIRM - RLG v GeoX Energy Inc 10000.004,2024-12-30,RLG,NaN,NaN
1999,1~AFF65AEC12741757,1~C2245AB41AA44702,3,GeoX Energy Inc - Sepiolite Drilling Fluid Pat...,2022-05-31,JRJ,NaN,NaN
2000,1~AFF8CB1E75B14562,1~CB975B1A6D81A384,1,Greg McAlister - Advanced Fiberglass 11129.005,2024-08-14,CAJ,NaN,NaN

In [13]:
min_date = min(Revenue["RevShareDate"].min(), BillableHours["BillableHoursDate"].min(), Matters["MatterCreationDate"].min())
max_date = max(Revenue["RevShareDate"].min(), BillableHours["BillableHoursDate"].min(), Matters["MatterCreationDate"].min())
print(max_date)

2024-09-30

In [5]:
# Fetch Data and Save as CSV
for name, query in queries.items():
    print(f"Fetching {name} data...")
    df = pd.read_sql(query, conn)
    
    # Save the dataset in the 'data' folder
    csv_path = f"data/{name}.csv"
    df.to_csv(csv_path, index=False)
    
    print(f"Saved: {csv_path}")

# Close the database connection
conn.close()
print("All datasets created successfully!")

Fetching staff_revenue data...
Saved: data/staff_revenue.csv
Fetching team_hours data...
Saved: data/team_hours.csv
Fetching individual_hours data...
Saved: data/individual_hours.csv
All datasets created successfully!

C:\Users\v_rroberson\AppData\Local\Temp\2\ipykernel_235464\2340702716.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)